<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>table/floor.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1280,960}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,960}}</string>
                <key>sourceSize</key>
                <string>{1280,960}</string>
            </dict>
            <key>table/guang.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,1201},{320,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{320,240}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>table/table.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,2},{1197,640}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1197,640}}</string>
                <key>sourceSize</key>
                <string>{1197,640}</string>
            </dict>
            <key>table/table_bottom.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1266},{1280,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,250}}</string>
                <key>sourceSize</key>
                <string>{1280,250}</string>
            </dict>
            <key>table/table_top.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{1280,300}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1280,300}}</string>
                <key>sourceSize</key>
                <string>{1280,300}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>table.pvr.ccz</string>
            <key>size</key>
            <string>{1926,1518}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d3d2b6762b3da42ded808c07c16bc1ed:d94c34b8737be3c8985ca3ad1538955b:6bae438ac5ca128afe4f87b86090e27f$</string>
            <key>textureFileName</key>
            <string>table.pvr.ccz</string>
        </dict>
    </dict>
</plist>
